<div class="bs-testimonial-container">
  <div class="bs-statement-holder">
    <div class="bs-semicolon">
      <fa-icon [icon]="['fas', 'quote-left']" size="4x"></fa-icon>
    </div>
    <div class="bs-statement">
      <span id="bs-selected-statement">{{ selectedTestimonial.statement }}</span>
    </div>
    <div class="bs-semicolon">
      <fa-icon [icon]="['fas', 'quote-right']" size="4x"></fa-icon>
    </div>
  </div>
  <div class="bs-avatar-holder">
    <ng-container *ngFor="let singleTestimonial of componentAssets.testimonials">
      <div class="bs-avatar" (click)="viewStatement(singleTestimonial)"
           [ngClass]="{ 'bs-avatar-selected' : singleTestimonial.bIsSelected}">
        <div class="bs-avatar-photo mat-elevation-z4">
          <fa-icon [icon]="[singleTestimonial.avatar.style, singleTestimonial.avatar.name]"
                   [size]="singleTestimonial.avatar.transform.size"></fa-icon>
        </div>
        <div class="bs-avatar-name">
          <span>{{ singleTestimonial.name }}</span>
        </div>
        <div class="bs-avatar-info">
          <span>{{ singleTestimonial.info }}</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="bs-testimonial-action-holder">
    <button mat-stroked-button color="primary">{{ componentAssets.action }}</button>
  </div>
</div>
