div.bs-testimonial-container {
  div.bs-statement-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142433;
    color: #fafafa;
    padding: 152px 0px;

    div.bs-statement {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 640px;
      height: 196px;
      margin: 0px 16px;

      span#bs-selected-statement {
        text-align: center;
        font-size: 16pt;
      }
    }

    div.bs-semicolon {
      opacity: 0.3;
    }
  }

  div.bs-avatar-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;

    div.bs-avatar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 24px;
      cursor: pointer;
      opacity: 0.5;

      div.bs-avatar-photo {
        font-size: 18pt;
        border-radius: 50%;
        background-color: #ffffff;
        width: 96px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 8px;
      }
      div.bs-avatar-name {
        margin: 16px 0px 0px 0px;

        span {
          font-weight: bold;
          font-size: 14pt;
        }
      }

      &.bs-avatar-selected {
        opacity: 1;
      }
    }
  }

  div.bs-testimonial-action-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;

    button {
      width: 240px;
      margin: 16px;
      padding: 8px 16px;
    }
  }
}
