<div class="bs-navbar-container mat-elevation-z4">
  <div class="bs-navbar-left">
    <div class="bs-logo-holder" (click)="navigate()">
      <div class="bs-logo-icon">
        <fa-icon [icon]="[componentAssets.logo.icon.style, componentAssets.logo.icon.name]"
                 [size]="componentAssets.logo.icon.transform.size"></fa-icon>
      </div>
      <div class="bs-logo-label">
        <span>{{ componentAssets.logo.label }}</span>
      </div>
    </div>
  </div>
  <div class="bs-navbar-right">
    <ng-container *ngFor="let singleItem of componentAssets.items">
      <div class="bs-navbar-item" (click)="navigate(singleItem)">
        <div class="bs-item-label">
          <span>{{ singleItem.label }}</span>
        </div>
        <div class="bs-item-expandable" *ngIf="!!singleItem.children.length">
          <fa-icon [icon]="[componentAssets.expandIcon.style, componentAssets.expandIcon.name]">
          </fa-icon>
        </div>
        <div class="bs-navbar-child-holder mat-elevation-z4"
             *ngIf="!!singleItem.children.length">
          <ng-container *ngFor="let singleChild of singleItem.children">
            <div class="bs-child-item">
              <span>{{ singleChild.label }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
