div.bs-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #142433;
  color: #fafafa;

  div.bs-navbar-left {
    margin: 16px;

    div.bs-logo-holder {
      display: flex;
      align-items: center;
      cursor: pointer;

      div.bs-logo-icon fa-icon,
      div.bs-logo-label span {
        font-size: 18pt;
      }

      div.bs-logo-icon {
        margin: 0px 4px 0px 0px;
      }

      div.bs-logo-label {
        margin: 0px 0px 0px 4px;
      }
    }
  }

  div.bs-navbar-right {
    margin: 16px;
    display: flex;
    align-items: center;

    div.bs-navbar-item {
      display: flex;
      align-items: center;
      padding: 16px;
      margin: 0px 24px;
      font-size: 12pt;
      cursor: pointer;
      position: relative;

      div.bs-item-label {
        margin: 0px 4px 0px 0px;
      }

      div.bs-item-expandable {
        margin: 0px 0px 0px 4px;
      }

      div.bs-navbar-child-holder {
        display: none;
        position: absolute;
        top: 40px;
        right: 0px;
        border-radius: 8px;
        z-index: 2;
        min-width: 160px;
        background-color: #fafafa;
        color: #121212;

        div.bs-child-item {
          margin: 16px;
          white-space: nowrap;
        }

        &::before {
          content: '';
          width: 0px;
          height: 0px;
          border-left: 8px solid #00000000;
          border-right: 8px solid #00000000;
          border-bottom: 8px solid #fafafa;
          position: absolute;
          top: -8px;
          right: 12px;
        }
      }

      &:hover {
        div.bs-navbar-child-holder {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
