div.bs-story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f0f0f0, #fafafa);
  padding-top: 36px;

  div.bs-story-title {
    margin: 24px;

    span {
      font-size: 36pt;
    }
  }

  div.bs-story-holder {
    display: flex;
    flex-flow: row wrap;
    max-width: 960px;
    justify-content: space-around;

    mat-card.bs-story {
      margin: 8px;
      min-width: 240px;
      flex: 1;
      cursor: pointer;

      mat-card-content {
        div.bs-story-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0px 0px 24px 0px;

          div.bs-icon-holder {
            font-size: 36pt;
          }
        }

        div.bs-story-person {
          display: flex;
          flex-direction: column;

          span {
            margin: 8px 0px;
            font-size: 14pt;
            font-weight: bold;
          }
        }
      }

      mat-card-actions {
        padding: 16px;
      }
    }
  }

  div.bs-story-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;

    div.bs-story-button {
      margin: 24px;

      button {
        width: 240px;
        margin: 16px;
        padding: 8px 16px;
      }
    }
  }
}
