<div class="bs-story-container">
  <div class="bs-story-title">
    <span>{{ componentAssets.title }}</span>
  </div>
  <div class="bs-story-holder">
    <ng-container *ngFor="let singleStory of componentAssets.stories">
      <mat-card class="bs-story">
        <mat-card-header></mat-card-header>
        <mat-card-content>
          <div class="bs-story-header">
            <div class="bs-icon-holder">
              <fa-icon [icon]="[singleStory.avatar.style, singleStory.avatar.name]"></fa-icon>
            </div>
            <div class="bs-icon-holder">
              <fa-icon [icon]="[singleStory.logo.style, singleStory.logo.name]"></fa-icon>
            </div>
          </div>
          <div class="bs-story-person">
            <span>{{ singleStory.name }}</span>
            <span>{{ singleStory.position }}</span>
          </div>
          <div class="bs-story-experience">
            <span>{{ singleStory.experience }}</span>
          </div>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
  <div class="bs-story-button-holder">
    <ng-container *ngFor="let singleAction of componentAssets.actions">
      <div class="bs-story-button">
        <button mat-flat-button color="primary"
                *ngIf="singleAction.type==='filled'">{{ singleAction.text }}</button>
        <button mat-stroked-button color="primary"
                *ngIf="singleAction.type==='stroked'">{{ singleAction.text }}</button>
      </div>
    </ng-container>
  </div>
</div>
