<div class="bs-customer-container">
  <div class="bs-customer-holder">
    <ng-container *ngFor="let singleCustomer of componentAssets.customers">
      <div class="bs-customer">
        <div class="bs-customer-icon">
          <fa-icon [icon]="[singleCustomer.icon.style, singleCustomer.icon.name]"
                   [size]="singleCustomer.icon.transform.size "></fa-icon>
        </div>
        <div class="bs-customer-label">
          <span>{{ singleCustomer.label }}</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="bs-customer-trust-holder">
    <div class="bs-customer-trust">
      <span>{{ componentAssets.trust }}</span>
    </div>
  </div>
</div>
