div.bs-customer-container {
  background-color: #f0f0f0;
  color: #666666;
  padding: 48px 0px;

  div.bs-customer-holder {
    display: flex;
    align-items: center;
    justify-content: center;

    div.bs-customer {
      display: flex;
      align-items: center;
      margin: 8px 16px;
      padding: 16px;

      div.bs-customer-icon {
        margin: 0px 8px 0px 0px;
      }

      div.bs-customer-label {
        margin: 0px 0px 0px 8px;
        font-size: 16pt;
      }
    }
  }

  div.bs-customer-trust-holder {
    display: flex;
    justify-content: center;
    align-items: center;

    div.bs-customer-trust {
      padding: 16px;

      span {
        font-size: 20pt;
      }
    }
  }
}
