div.bs-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #b5d3ed, #e6f7ff);

  div.bs-intro-heading {
    margin: 24px;

    span {
      font-size: 36pt;
    }
  }

  div.bs-intro-subheading {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin: 8px;
      font-size: 12pt;
    }
  }

  div.bs-intro-button {
    button {
      margin: 24px;
      padding: 8px 36px;
      font-size: 12pt;
    }
  }

  div.bs-intro-test-holder {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: 48px;

    div.bs-intro-test {
      margin: 16px;

      div.bs-holder-title {
        display: flex;
        align-items: center;

        span.border {
          flex: 1;
          padding: 0.5px;
          background-color: #121212;
          margin-left: 16px;
        }
      }

      div.bs-card-holder {
        display: flex;
        flex-flow: row wrap;
        mat-card.bs-card {
          width: 240px;
          border-radius: 24px;
          transition: 250ms;
          cursor: pointer;

          mat-card-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 320px;
            color: #808080;
          }

          &:first-of-type {
            margin: 8px 4px 8px 0px;
          }

          &:last-of-type {
            margin: 8px 0px 8px 4px;
          }
        }
      }
    }
  }
}
