<div class="bs-intro-container">
  <div class="bs-intro-heading">
    <span>{{ componentAssets.intro.heading }}</span>
  </div>
  <div class="bs-intro-subheading">
    <ng-container *ngFor="let singleSubhead of componentAssets.intro.subheadings">
      <span>{{ singleSubhead }}</span>
    </ng-container>
  </div>
  <div class="bs-intro-button">
    <button mat-flat-button color="primary">{{ componentAssets.intro.button }}</button>
  </div>
  <div class="bs-intro-test-holder">
    <ng-container *ngFor="let singleHolder of componentAssets.holders">
      <div class="bs-intro-test">
        <div class="bs-holder-title">
          <span>{{ singleHolder.title }}</span>
          <span class="border"></span>
        </div>
        <div class="bs-card-holder">
          <ng-container *ngFor="let singleCard of singleHolder.cards">
            <mat-card class="bs-card">
              <mat-card-header>
                <mat-card-title>
                  <span>{{ singleCard.title }}</span>
                </mat-card-title>
                <mat-card-subtitle>
                  <span>{{ singleCard.subtitle }}</span>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <span>{{ singleCard.content }}</span>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
