<div class="bs-benefit-container">
  <div class="bs-benefit-title">
    <span>{{ componentAssets.title }}</span>
  </div>
  <div class="bs-benefit-holder">
    <ng-container *ngFor="let singleBenefit of componentAssets.benefits">
      <div class="bs-benefit">
        <div class="bs-benefit-icon-holder">
          <ng-container *ngFor="let singleIcon of singleBenefit.icons">
            <div class="bs-benefit-icon">
              <fa-icon [icon]="[singleIcon.style, singleIcon.name]"
                       [size]="singleIcon.transform.size"></fa-icon>
            </div>
          </ng-container>
        </div>
        <div class="bs-benefit-content-title">
          <span>{{ singleBenefit.title }}</span>
        </div>
        <div class="bs-benefit-content-subtitle">
          <span>{{ singleBenefit.subtitle }}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
