div.bs-benefit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;

  div.bs-benefit-title {
    margin: 24px;

    span {
      font-size: 36pt;
    }
  }

  div.bs-benefit-holder {
    display: flex;
    justify-content: center;

    div.bs-benefit {
      margin: 16px;
      max-width: 320px;

      div.bs-benefit-icon-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 24px 0px;
        height: 72px;

        fa-icon {
          margin: 0px 4px;
          font-size: 14pt;
          color: #529bd2;
        }
      }

      div.bs-benefit-content-title {
        margin: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 16pt;
        }
      }

      div.bs-benefit-content-subtitle {
        margin: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 10pt;
          text-align: center;
        }
      }
    }
  }
}
