<div class="bs-footer-container">
  <div class="bs-footer-top">
    <div class="bs-footer-left">
      <div class="bs-footer-section-holder">
        <ng-container *ngFor="let singleSection of componentAssets.sections">
          <div class="bs-footer-section">
            <div class="bs-item-label">
              <span>{{ singleSection.heading | uppercase }}</span>
            </div>
            <div class="bs-footer-item-link-holder" *ngIf="singleSection.type === 'text'">
              <ng-container *ngFor="let singleItem of singleSection.items">
                <div class="bs-footer-item-link">
                  <span>{{ singleItem.text }}</span>
                </div>
              </ng-container>
            </div>
            <div class="bs-footer-item-icon-holder" *ngIf="singleSection.type === 'icon'">
              <ng-container *ngFor="let singleItem of singleSection.items">
                <div class="bs-footer-item-link">
                  <fa-icon [icon]="[singleItem.icon.style, singleItem.icon.name]"></fa-icon>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="bs-footer-right">
      <div class="bs-logo-holder" (click)="navigate()">
        <div class="bs-logo-icon">
          <fa-icon [icon]="[componentAssets.logo.icon.style, componentAssets.logo.icon.name]"
                   [size]="componentAssets.logo.icon.transform.size"></fa-icon>
        </div>
        <div class="bs-logo-label">
          <span>{{ componentAssets.logo.label }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bs-footer-bottom">
    <div class="bs-footer-domore-holder">
      <div class="bs-domore-title" (click)="toggleDoMore()">
        <span>{{ componentAssets.closure.doMore.title }}</span>
        <fa-icon
                 [icon]="['fas', (componentAssets.closure.doMore.bIsExpanded) ? 'angle-up' : 'angle-down']">
        </fa-icon>
      </div>
      <div class="bs-domore-link-holder" *ngIf="componentAssets.closure.doMore.bIsExpanded">
        <ng-container
                      *ngFor="let singleLink of componentAssets.closure.doMore.links; last as bIsLast;">
          <span class="bs-domore-link">{{ singleLink.label }}</span> <span *ngIf="!bIsLast"> |
          </span>
        </ng-container>
      </div>
    </div>
    <div class="bs-footer-separator"></div>
    <div class="bs-closure-holder">
      <div class="bs-copyright">
        <span>{{ componentAssets.closure.copyright }}</span>
      </div>
      <div class="bs-policy-holder">
        <ng-container *ngFor="let singlePolicy of componentAssets.closure.policies">
          <div class="bs-policy">
            <span>{{ singlePolicy.label }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
