div.bs-footer-container {
  background-color: #142433;
  color: #fafafa;
  padding: 36px 0px;

  div.bs-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px;

    div.bs-footer-left {
      div.bs-footer-section-holder {
        display: flex;

        div.bs-footer-section {
          margin: 8px;

          div.bs-item-label {
            margin: 0px 0px 16px 0px;

            span {
              font-size: 12pt;
              font-weight: bold;
            }
          }

          div.bs-footer-item-link-holder {
            min-width: 160px;

            div.bs-footer-item-link {
              cursor: pointer;
              transition: 250ms;
              opacity: 0.7;
              span {
                font-size: 10pt;
              }

              &:hover {
                opacity: 1;
              }
            }
          }

          div.bs-footer-item-icon-holder {
            display: flex;
            font-size: 16pt;

            fa-icon {
              margin: 8px;
              cursor: pointer;
            }
          }
        }
      }
    }

    div.bs-footer-right {
      div.bs-logo-holder {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 24px;

        div.bs-logo-icon fa-icon,
        div.bs-logo-label span {
          font-size: 18pt;
        }

        div.bs-logo-icon {
          margin: 0px 4px 0px 0px;
        }

        div.bs-logo-label {
          margin: 0px 0px 0px 4px;
        }
      }
    }
  }

  div.bs-footer-bottom {
    margin: 24px;

    div.bs-footer-domore-holder {
      margin: 0px 8px;

      div.bs-domore-title {
        display: inline-flex;
        cursor: pointer;

        span {
          margin: 0px 4px 0px 0px;
          font-size: 10pt;
        }

        fa-icon {
          margin: 0px 0px 0px 4px;
        }
      }

      div.bs-domore-link-holder {
        span.bs-domore-link {
          cursor: pointer;
          opacity: 0.7;
          transition: 250ms;
          font-size: 10pt;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    div.bs-footer-separator {
      margin: 8px 0px;
      padding: 0.5px;
      background-color: #a8adb3;
    }

    div.bs-closure-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div.bs-copyright {
        span {
          font-size: 10pt;
        }
      }

      div.bs-policy-holder {
        display: flex;
        align-items: center;

        div.bs-policy {
          margin: 0px 16px;
          cursor: pointer;

          span {
            transition: 250ms;

            &:hover {
              color: #009cfc;
            }
          }

          &:first-of-type {
            margin: 0px 16px 0px 0px;
          }
          &:last-of-type {
            margin: 0px 0px 0px 16px 0px;
          }
        }
      }
    }
  }
}
