<div class="bs-home-container">
  <div class="bs-home-content">
    <app-bs-intro [componentAssets]="introAssets$ | async"></app-bs-intro>
  </div>
  <div class="bs-home-content">
    <app-bs-customers [componentAssets]="customerAssets$ | async"></app-bs-customers>
  </div>
  <div class="bs-home-content">
    <app-bs-benefits [componentAssets]="benefitAssets$ | async"></app-bs-benefits>
  </div>
  <div class="bs-home-content">
    <app-bs-stories [componentAssets]="storyAssets$ | async"></app-bs-stories>
  </div>
  <div class="bs-home-content">
    <app-bs-testimonials [componentAssets]="testimonialAssets$ | async"></app-bs-testimonials>
  </div>
</div>
