div.bs-app-holder {
  display: grid;

  div.bs-navbar-holder {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
  }

  // div.bs-content-holder {
  //   margin-top: 96px;
  // }

  // div.bs-footer-holder{}
}
