<div class="bs-app-holder">
  <div class="bs-navbar-holder">
    <app-bs-navbar [componentAssets]="navbarAssets$ | async"></app-bs-navbar>
  </div>
  <div class="bs-content-holder">
    <router-outlet></router-outlet>
  </div>
  <div class="bs-footer-holder">
    <app-bs-footer [componentAssets]="footerAssets$ | async"></app-bs-footer>
  </div>
</div>
